@model Equipe
@{
    ViewData ["Title"] = "Equipes";
}

<Form method= "POST" action='@Url.Action("CadastrarEquipe")' enctype="multipart/form-data"> 
    <label>ID</label>
    <input type="text" name="IdEquipe"required/> 
    
    <label>Nome</label>
    <input type="text" name="Nome"required /> 
    
    <label>Imagem</label>
    <input type="file" name="Imagem"required /> 

    <button type="submit">Cadastrar</button>
</form>

<table class="table table-stripped table-responsive">
    <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Foto</th>
    </thead>
    <tbody>
        @foreach (Equipe equipe in ViewBag.Equipes)
        {
            <tr>
                <td>@equipe.IdEquipe</td>
                <td>@equipe.Nome</td>
                <td><img src="/img/Equipes/@equipe.Imagem" alt="iamgem da equipe @equipe.Nome" width="40"></td>
                <td><a asp-area= "Link para excluiir uma equipe"asp-controller="Equipe" asp-action="Excluir" asp-route-id="@equipe.IdEquipe">Excluir</a></td>
            </tr>
        }
    </tbody>
</table>

